// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

html,
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-dark);
  color: var(--primary);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

[stroke="#25396F"] {
  stroke: var(--primary) !important;
}

button,
fieldset,
*[role="button"] {
  border: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: inherit;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid var(--bg-darkest);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 24px;
  width: 100%;

  font-weight: 700;
  font-size: 12px;

  border-radius: 8px;

  &:hover {
    filter: opacity(90%);
    cursor: pointer;
  }

  &.primary {
    background: var(--secondary);
    color: var(--bg);
  }

  &.outline {
    background: transparent;
    outline: 2px solid var(--secondary);
    outline-offset: -2px;
    color: var(--secondary);
  }

  &.secondary {
    background: transparent;
    color: var(--secondary);
    border: 2px solid transparent;

    &:hover {
      background-color: unquote(var(--secondary) + "19");
    }
  }

  &.accent {
    background: var(--accent);
    color: var(--bg);
    box-shadow: 0px 7px 17px rgba(88, 185, 255, 0.25);
  }
}

// Text Colors
.text-secondary {
  color: var(--secondary);
}
.text-accent {
  color: var(--accent);
}

// Text Styles
.title-large {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.title-small {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.text-large {
  font-weight: 700;
  font-size: 14.5px;
  line-height: 18px;
}
.text-medium {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.small {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0;
}
.auth-form,
.form {
  // Form
  .form-group {
    margin: 15px 0;
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
  }

  .input-group {
    background: var(--bg-dark);
    border-radius: 15px;
    padding: 10px 25px;
    width: 100%;
    flex: 1;

    label {
      width: 100%;
      display: block;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: var(--primary-light);
    }
    span {
      color: var(--primary-light);
    }

    input,
    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      font: inherit;
      display: inline-block;
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      width: 100%;
      max-width: 90%;
      margin-top: 3px;
      margin-bottom: 3px;
      /* identical to box height */

      /* Primary */

      color: var(--primary);

      &:placeholder {
        color: unquote(var(--primary) + "10");
      }
    }
  }

  .label {
    margin: 10px 0;
    display: inline-block;

    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--primary);
  }

  button.primary {
    padding: 9px 24px;

    background: var(--accent);
    box-shadow: 0px 7px 17px rgba(88, 185, 255, 0.25);
    border-radius: 15px;
    padding: 15px 30px;
    margin-top: 30px;

    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: var(--bg);
    &:hover {
      filter: brightness(105%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.no-margin {
      margin: 0;
    }
  }

  .form-error {
    color: var(--accent-2);
  }
}
