// ---- Colors ----
$bg: #FFFFFF;
$bg-dark: #F7FAFF;
$bg-darkest: #DFEEFF;
$primary-light: #A4B6E1;
$accent: #58B9FF;
$accent-2: #E84C88;
$secondary: #A974FF;
$primary: #25396F;

// Miscellaneous
$warning: #f4a527;
$warning-light: #fff0d4;
$error: #bd6d6f;
$error-light: #f8eef0;

html[data-theme="dark"] {
  // Dark Theme
  $bg: #FFFFFF;
  $bg-dark: #F7FAFF;
  $bg-darkest: #DFEEFF;
  $primary-light: #A4B6E1;
  $accent: #58B9FF;
  $accent-2: #E84C88;
  $secondary: #A974FF;
  $primary: #25396F;
}