.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: $primary-light;

  .tab {
    position: relative;
    &.active {
      color: $secondary;
    }
    .underline {
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 100%;
      background-color: $secondary;
    }
  }
}
