.wrapper {
  color: var(--primary-light);
  font-size: 11px;
  line-height: 13px;

  .list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;

    * {
      display: inline-block;
    }

    p {
      margin-left: 5px;
    }
  }
}
