.wrapper {
  .settingTab {
  }

  .settingItem {
    margin: 10px 0;
    flex-direction: column;
  }

  .themeElement {
    width: 138px;
    height: 94px;
    border-radius: 8px;
    position: relative;
    background-color: var(--accent);
    overflow: hidden;

    .image {
      position: absolute;
      bottom: -11px;
      right: -7px;
      width: 113px;
      height: 78px;
    }
  }
}
