.wrapper {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  margin-top: auto;
  margin-bottom: auto;

  &.hasUnseenStory {
    outline: 3px solid var(--secondary);
    border: 3px solid var(--bg-dark);
  }
}
