.wrapper {
  .cover {
    position: relative;
    width: 100%;
    aspect-ratio: 2.8/1;
    border-radius: 8px;
    overflow: hidden;
  }

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .avatar {
      margin-top: -80px;
      display: inline-block;
      margin-bottom: 0;
      margin-left: 20px;
    }

    .userInfo {
      flex: 1;
      display: inline-block;
      margin: 16px 0 0 19px;
      padding-top: -10px;
      vertical-align: top;
      & * {
        margin: 0;
      }

      .name {
        margin-bottom: 6px;
        display: inline-block;
        margin-right: 6px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        color: var(--primary);
      }

      .username {
        font-weight: 600;
        color: var(--primary-light);
        font-size: 11px;
        line-height: 13px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      button {
        margin: 16px 0 0;

        display: inline-block;
        max-width: 300px;
      }
    }
  }

  .bio {
    margin: 15px 0;
  }

  .accountInfoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stats {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;

      .stat {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        .statValue {
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: var(--primary);
        }

        .statKey {
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          color: var(--primary-light);
        }
      }
    }

    .infoItems {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;

      .infoItem {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--primary);

        .infoIcon {
          flex-shrink: 0;
        }

        .infoValue {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */

          /* Primary */

          color: var(--primary);

          flex: 1;
          width: 100%;
          min-width: 100px;
          overflow: hidden;
          max-height: 18px;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
