.wrapper {
  padding: 25px;

  background: $bg;
  border-radius: 20px;
  margin: 20px 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userInfo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 17px;
      width: 100%;
      flex-grow: 1;

      * {
        margin: 0;
      }

      .info {
        .username {
          font-size: 14px;
          font-weight: 600;
          color: $primary-light;
          line-height: 16px;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      img {
        filter: invert(73%) sepia(45%) saturate(305%) hue-rotate(189deg)
          brightness(93%) contrast(89%);
      }
    }
  }

  .content {
    margin: 20px 0;
    .image {
      position: relative;
      width: 100%;
      aspect-ratio: 2 /1;
      border-radius: 15px;
      overflow: hidden;
    }

    .description {
      font-family: "Source Sans Pro", "Montserrat", Arial;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      /* or 20px */

      /* Primary */

      color: #25396f;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;

    .commentInput {
      background-color: $bg-dark;
      border-radius: 50px;
      padding: 11px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      input {
        border: none;
        background-color: transparent;
        color: $primary;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        width: 100%;
        outline: none;

        &::placeholder {
          color: $primary-light;
        }
      }

      .emojiSelectorBtn {
        cursor: pointer;
      }
    }

    .actionBtns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left .right {
      flex-shrink: 0;
    }
    .middle {
      width: 100%;
      flex-grow: 1;
    }
  }
}

.headerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;

  &:hover {
    background-color: $bg-dark;
  }
}

.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
  border-radius: 100px;
  height: 100%;
  gap: 3px;
  color: $primary-light;

  .image {
    flex-shrink: 0;

    img {
      filter: invert(73%) sepia(45%) saturate(305%) hue-rotate(189deg)
        brightness(93%) contrast(89%);
    }
  }

  &:hover {
    background-color: $bg-dark;
  }
}
