.wrapper {
  padding: 38px 30px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;

    .outline {
      border: 2px solid var(--bg-darkest);
    }

    .rounded {
      border-radius: 50px;
      padding: 18px;
    }

    .search {
      width: 100%;

      img {
        filter: invert(71%) sepia(27%) saturate(357%) hue-rotate(184deg)
          brightness(98%) contrast(88%);
      }

      input {
        border: none;
        background-color: transparent;
        color: var(--primary-light);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        outline: none;
        flex: 1;
        width: 100%;

        &::placeholder {
          color: var(--primary-light);
        }
      }
    }

    .button {
      flex-shrink: 0;
    }

    .accentButton {
      background-color: var(--accent);
      color: var(--bg);
      box-shadow: 0px 7px 17px rgba(88, 185, 255, 0.25);

      img {
        filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(15deg)
          brightness(103%) contrast(96%);
      }
    }

    & > * {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .profileCard {
    margin: 26px 0;
  }
}
